body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f9f9f9;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
}

button {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
}
